In [1]:
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
def automatized_dict(input_path, output_path):
    df = pd.read_excel(input_path)

    # Crea una nueva tabla con la estructura deseada
    new_df = pd.DataFrame(columns=['Variable', 'Variable label', 'Value', 'Value label', 'values_and_labels'])

    # Variables para almacenar los valores y etiquetas
    variable = ''
    variable_label = ''
    values = []
    value_labels = []

    # Itera sobre las filas del DataFrame original
    for index, row in df.iterrows():
        if pd.notnull(row['columna2']):
            if isinstance(row['columna2'], str) and row['columna2'].startswith('Variable ='):
                # Añade la fila anterior solo si los valores no están vacíos
                if variable != '':
                    if values:  # Si existen valores, crea la cadena de valores y etiquetas
                        values_and_labels = '; '.join([f'{v} = {l}' for v, l in zip(values, value_labels)])
                    else:  # Si no hay valores, asigna un espacio en blanco
                        values_and_labels = ' '

                    new_df = new_df.append({
                        'Variable': variable,
                        'Variable label': variable_label,
                        'Value': ';'.join(values),
                        'Value label': ';'.join(value_labels),
                        'values_and_labels': values_and_labels
                    }, ignore_index=True)

                # Reinicia las variables para la nueva variable
                variable = row['columna2'].split('=')[1].strip()
                variable_label = row['columna3'].split('=')[1].strip()
                values = []
                value_labels = []
            elif isinstance(row['columna2'], str) and row['columna2'].startswith('Value ='):
                values.append(row['columna2'].split('=')[1].strip())
                value_labels.append(row['columna3'].split('=')[1].strip())

    # Añade la última fila si los valores no están vacíos
    if variable != '':
        if values:  # Si existen valores, crea la cadena de valores y etiquetas
            values_and_labels = '; '.join([f'{v} = {l}' for v, l in zip(values, value_labels)])
        else:  # Si no hay valores, asigna un espacio en blanco
            values_and_labels = ' '

        new_df = new_df.append({
            'Variable': variable,
            'Variable label': variable_label,
            'Value': ';'.join(values),
            'Value label': ';'.join(value_labels),
            'values_and_labels': values_and_labels
        }, ignore_index=True)

    # Asigna espacios en blanco a las variables sin valores ni etiquetas
    new_df['Value'].fillna('', inplace=True)
    new_df['Value label'].fillna('', inplace=True)
    new_df['values_and_labels'].fillna('', inplace=True)

    # Elimina las filas duplicadas en base a la columna 'Variable'
    new_df = new_df.drop_duplicates(subset='Variable')

    # Exporta la nueva tabla
    new_df.to_excel(output_path, index=False)

    return new_df

In [19]:
input_path = r'raw/NdM3_Community_Level_Raw.xlsx'
output_path = r'output/NdM3_Community_Level_Output.xlsx'

automatized_dict( input_path, output_path )

,Variable,Variable label,Value,Value label,values_and_labels
0,placeid,community id,,,
1,departid,id of department,,,
2,clustid,id of sentinel site in the locality,,,
3,maploc,did you get a copy of the map of the locality?,0.0;1.0,no;yes,0.0 = no; 1.0 = yes
4,survcode,field worker code,,,
...,...,...,...,...,...
1512,toobusy,authority is too busy,0.0;1.0,no;yes,0.0 = no; 1.0 = yes
1513,myself,i can manage it myself,0.0;1.0,no;yes,0.0 = no; 1.0 = yes
1514,nointrst,major has no interest,0.0;1.0,no;yes,0.0 = no; 1.0 = yes
1515,othrnevr,other never,0.0;1.0,no;yes,0.0 = no; 1.0 = yes
1516,budget,do youknow what the budget allocated to the de...,0.0;1.0;99.0;77.0;88.0,no;yes;missing;nk;na,0.0 = no; 1.0 = yes; 99.0 = missing; 77.0 = nk...

In [3]:
input_path = r'raw/NdM3_Houselhold_Member_Level_Raw.xlsx'
output_path = r'output/NdM3_Houselhold_Member_Level_Output.xlsx'

automatized_dict( input_path, output_path )

,Variable,Variable label,Value,Value label,values_and_labels
0,childid,child id,,,
1,id,household roster id,,,
2,age,age in years,-88.0;-77.0;-99.0,n/a;nk;missing,-88.0 = n/a; -77.0 = nk; -99.0 = missing
3,memsex,sex of household member,88.0;1.0;2.0;99.0;77.0,n/a;male;female;missing;nk,88.0 = n/a; 1.0 = male; 2.0 = female; 99.0 = m...
4,relate,relationship to yl child,0.0;1.0;2.0;3.0;4.0;5.0;6.0;7.0;8.0;9.0;10.0;1...,young lives child;biological parent;step-paren...,0.0 = young lives child; 1.0 = biological pare...
5,livhse,does this person still live in the household?,99.0;1.0;2.0;3.0;88.0;77.0,"missing;yes, still lives in household;no, live...","99.0 = missing; 1.0 = yes, still lives in hous..."
6,grader3,what was the highest grade that this person co...,0.0;1.0;2.0;3.0;4.0;5.0;6.0;7.0;8.0;9.0;10.0;1...,none;grade 1;grade 2;grade 3;grade 4;grade 5;g...,0.0 = none; 1.0 = grade 1; 2.0 = grade 2; 3.0 ...
7,stillr3,is this person currently in full-time education?,0.0;1.0;2.0;3.0;77.0;79.0;99.0;88.0,no;yes attending regularly;yes but attending i...,0.0 = no; 1.0 = yes attending regularly; 2.0 =...
8,schtypr3,what type of school are they attending or was ...,1.0;2.0;3.0;4.0;5.0;6.0;7.0;77.0;79.0;99.0;88.0,private;ngo/charity/church (not for profit);pu...,1.0 = private; 2.0 = ngo/charity/church (not f...
9,agestr3,age when first entered 1st grade,88.0;99.0;77.0;79.0,n/a;missing;nk;refused to answer,88.0 = n/a; 99.0 = missing; 77.0 = nk; 79.0 = ...
10,agegrdr3,age when completed/stopped full-time education,88.0;99.0;77.0;79.0,n/a;missing;nk;refused to answer,88.0 = n/a; 99.0 = missing; 77.0 = nk; 79.0 = ...
11,disabr3,degree of disability,0.0;1.0;2.0;3.0;4.0;5.0;6.0;77.0;99.0;88.0,no disability;capable of most types of full-ti...,0.0 = no disability; 1.0 = capable of most typ...
12,sleepr3,hours in a typical day spent - sleeping,0.0;88.0;99.0;77.0,none;n/a;missing;nk,0.0 = none; 88.0 = n/a; 99.0 = missing; 77.0 = nk
13,chcarer3,hours in a typical day spent - caring for others,0.0;88.0;99.0;77.0,none;n/a;missing;nk,0.0 = none; 88.0 = n/a; 99.0 = missing; 77.0 = nk
14,hhchrer3,hours in a typical day spent - on domestic tasks,0.0;88.0;99.0;77.0,none;n/a;missing;nk,0.0 = none; 88.0 = n/a; 99.0 = missing; 77.0 = nk
15,npywrkr3,hours in a typical day spent - on tasks on fam...,0.0;88.0;99.0;77.0,none;n/a;missing;nk,0.0 = none; 88.0 = n/a; 99.0 = missing; 77.0 = nk
16,paywrkr3,hours in a typical day spent - on activities f...,0.0;88.0;99.0;77.0,none;n/a;missing;nk,0.0 = none; 88.0 = n/a; 99.0 = missing; 77.0 = nk
17,schoolr3,hours in a typical day spent - at school,0.0;88.0;99.0;77.0,none;n/a;missing;nk,0.0 = none; 88.0 = n/a; 99.0 = missing; 77.0 = nk
18,studyr3,hours in a typical day spent - studying outsid...,0.0;88.0;99.0;77.0,none;n/a;missing;nk,0.0 = none; 88.0 = n/a; 99.0 = missing; 77.0 = nk
19,playr3,hours in a typical day spent - playtime/genera...,0.0;88.0;99.0;77.0,none;n/a;missing;nk,0.0 = none; 88.0 = n/a; 99.0 = missing; 77.0 = nk

In [4]:
input_path = r'raw/NdM3_Household_Level_Raw.xlsx'
output_path = r'output/NdM3_Household_Level_Output.xlsx'

automatized_dict( input_path, output_path )

,Variable,Variable label,Value,Value label,values_and_labels
0,childid,child id,,,
1,dopi,date of preliminary interview - day,88.0;99.0;77.0,n/a;missing;nk,88.0 = n/a; 99.0 = missing; 77.0 = nk
2,mopi,date of preliminary interview - month,1.0;2.0;3.0;4.0;5.0;6.0;7.0;8.0;9.0;10.0;11.0;...,january;february;march;april;may;june;july;aug...,1.0 = january; 2.0 = february; 3.0 = march; 4....
3,yopi,year of preliminaty interview - year,8888.0;7777.0;9999.0,n/a;nk;missing,8888.0 = n/a; 7777.0 = nk; 9999.0 = missing
4,idint,id of respondent for preliminary interview,88.0;90.0;99.0;77.0,n/a;not a household member;missing;nk,88.0 = n/a; 90.0 = not a household member; 99....
...,...,...,...,...,...
1360,drwaterq,drinking water quality,0.0;1.0,no;yes,0.0 = no; 1.0 = yes
1361,cookingq,cooking fuel quality,0.0;1.0,no;yes,0.0 = no; 1.0 = yes
1362,sv,housing services index,,,
1363,wi,wealth index,,,
1364,pecodpt3,Preliminary Interview - Department name,1.0;2.0;3.0;4.0;5.0;6.0;7.0;8.0;9.0;10.0;11.0;...,AMAZONAS;ANCASH;APURIMAC;AREQUIPA;AYACUCHO;CAJ...,1.0 = AMAZONAS; 2.0 = ANCASH; 3.0 = APURIMAC; ...

In [15]:
input_path = r'raw/NdM3_Childlevel_Raw.xlsx'
output_path = r'output/NdM3_Childlevel_Output.xlsx'

automatized_dict( input_path, output_path )

,Variable,Variable label,Value,Value label,values_and_labels
0,childid,child id,,,
1,cdintday,date of child interview - day,88.0;99.0;77.0,n/a;missing;nk,88.0 = n/a; 99.0 = missing; 77.0 = nk
2,cdintmth,date of child interview - month,1.0;2.0;3.0;4.0;5.0;6.0;7.0;8.0;9.0;10.0;11.0;...,january;february;march;april;may;june;july;aug...,1.0 = january; 2.0 = february; 3.0 = march; 4....
3,cdintyr,date of child interview - year,8888.0;7777.0;9999.0,n/a;nk;missing,8888.0 = n/a; 7777.0 = nk; 9999.0 = missing
4,cpda,was a pda used for the interview?,0.0;1.0;99.0;77.0;88.0,no;yes;missing;nk;n/a,0.0 = no; 1.0 = yes; 99.0 = missing; 77.0 = nk...
...,...,...,...,...,...
519,zhfa,height-for-age z-score,,,
520,zbfa,bmi-for-age z-score,,,
521,fwfa,flag,,,
522,fhfa,flag,,,
523,fbfa,flag,,,

In [18]:
input_path = r'raw/NdM2_Childlevel_Raw.xlsx'
output_path = r'output/NdM2_Childlevel_Output.xlsx'

automatized_dict( input_path, output_path )

,Variable,Variable label,Value,Value label,values_and_labels
0,formno,form number (r28yrs),,,
1,childid,child identification,,,
2,dtopi,date of preliminary interview,,,
3,sex,gender of child,1.0;2.0;99.0;88.0;77.0;79.0,male;female;missing;n/a;nk;refused to answer,1.0 = male; 2.0 = female; 99.0 = missing; 88.0...
4,hhsize,household size,,,
...,...,...,...,...,...
1585,drwaterq,drinking water quality,,,
1586,cookingq,cooking fuel quality,,,
1587,sv,housing services index,,,
1588,wi,wealth index,,,
1589,pecodpt2,Preliminary Interview - Department name,1.0;2.0;3.0;4.0;5.0;6.0;7.0;8.0;9.0;10.0;11.0;...,AMAZONAS;ANCASH;APURIMAC;AREQUIPA;AYACUCHO;CAJ...,1.0 = AMAZONAS; 2.0 = ANCASH; 3.0 = APURIMAC; ...

In [3]:
input_path = r'raw/NdM3_Child_Activities_Raw.xlsx'
output_path = r'output/NdM3_Child_Activities_Output.xlsx'

automatized_dict( input_path, output_path )

,Variable,Variable label,Value,Value label,values_and_labels
0,childid,child id,,,
1,actidr3,activity id - line number,,,
2,actr3,activity code,1.0;2.0;3.0;4.0;5.0;6.0;7.0;77.0;79.0;99.0;88.0,farm work;domestic chores;child care or care o...,1.0 = farm work; 2.0 = domestic chores; 3.0 = ...
3,actownr3,do you do this activity for your own household...,1.0;2.0;99.0;88.0;77.0;79.0,own household;another household or a business;...,1.0 = own household; 2.0 = another household o...
4,actmthr3,number of months in which this activity was done,88.0;99.0;77.0;79.0,n/a;missing;nk;refused to answer,88.0 = n/a; 99.0 = missing; 77.0 = nk; 79.0 = ...
5,actdayhr3,number of days per month in which activity was...,88.0;99.0;77.0;79.0,n/a;missing;nk;refused to answer,88.0 = n/a; 99.0 = missing; 77.0 = nk; 79.0 = ...
6,acthrsr3,number of hours per day in which activity was ...,88.0;99.0;77.0;79.0,n/a;missing;nk;refused to answer,88.0 = n/a; 99.0 = missing; 77.0 = nk; 79.0 = ...
7,pymrecr3,what form of payment was received or is expect...,0.0;1.0;2.0;3.0;4.0;5.0;77.0;79.0;99.0;88.0,none;cash including pocket money;in kind;both ...,0.0 = none; 1.0 = cash including pocket money;...

In [3]:
input_path = r'raw/NdM1_Childlevel_Raw.xlsx'
output_path = r'output/NdM1_Childlevel_Output.xlsx'

automatized_dict( input_path, output_path )

,Variable,Variable label,Value,Value label,values_and_labels
0,formno,form number,,,
1,childid,child id,,,
2,clustid,sentinel site,,,
3,region,region,32.0;33.0;31.0,mountain;jungle;coast,32.0 = mountain; 33.0 = jungle; 31.0 = coast
4,typesite,typesite,1.0;2.0,urban;rural,1.0 = urban; 2.0 = rural
...,...,...,...,...,...
480,drwaterq,drinking water quality,,,
481,cookingq,cooking fuel quality,,,
482,sv,housing services index,,,
483,wi,wealth index,,,
484,pecodpt1,Preliminary Interview - Department name,1.0;2.0;3.0;4.0;5.0;6.0;7.0;8.0;9.0;10.0;11.0;...,AMAZONAS;ANCASH;APURIMAC;AREQUIPA;AYACUCHO;CAJ...,1.0 = AMAZONAS; 2.0 = ANCASH; 3.0 = APURIMAC; ...

# ========================================

In [20]:
# ANTIGUA FUNCIÓN QUE NO INCLUYE VARIABLES SIN VALUES

def automatized_dict( input_path, output_path ):

    df = pd.read_excel( input_path )

    # Crea una nueva tabla con la estructura deseada
    new_df = pd.DataFrame(columns=['Variable', 'Variable label', 'Value', 'Value label', 'values_and_labels'])

    # Itera sobre las filas del DataFrame original
    for index, row in df.iterrows():
        if pd.notnull(row['columna2']):
            if isinstance(row['columna2'], str) and row['columna2'].startswith('Variable ='):
                variable = row['columna2'].split('=')[1].strip()
                variable_label = row['columna3'].split('=')[1].strip()
                value = ''
                value_label = ''
            elif isinstance(row['columna2'], str) and row['columna2'].startswith('Value ='):
                value += row['columna2'].split('=')[1].strip() + ';'
                value_label += row['columna3'].split('=')[1].strip() + ';'
            else:
                continue

        # Añade una nueva fila a la tabla si es una nueva variable
        if index == len(df) - 1 or (pd.isnull(df.iloc[index + 1]['columna2']) or df.iloc[index + 1]['columna2'].startswith('Variable =')):
            # Elimina el último ';' de los valores
            value = value.rstrip(';')
            value_label = value_label.rstrip(';')

            # Añade una nueva fila a la tabla solo si los valores no están vacíos
            if value != '' and value_label != '':
                values_and_labels = '; '.join([f'{v} = {l}' for v, l in zip(value.split(';'), value_label.split(';'))])
                new_df = new_df.append({
                    'Variable': variable,
                    'Variable label': variable_label,
                    'Value': value,
                    'Value label': value_label,
                    'values_and_labels': values_and_labels
                }, ignore_index=True)

    # drip duplicated rows
    new_df = new_df.drop_duplicates( subset = 'Variable' )

    # Exporta la nueva tabla
    new_df.to_excel( output_path, index=False )
    
    return new_df